src
test
docs
node_modules
coverage
.github
.vscode
.idea
.pnpm-store
*.tsbuildinfo
tsconfig*.json
nest-cli.json
eslint.config.mjs
.prettierrc
.releaserc
.nvmrc
.gitignore
pnpm-workspace.yaml
pnpm-lock.yaml
package-lock.json
