name: Publish
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  issues: write

jobs:
  release:
    uses: LikeMeX/github-reuse-workflow/.github/workflows/npm-publish.yaml@main
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
